{% extends 'blog/base.html' %}

{% block content %}



<div class=" pt-3" >
    <h2>What is Essays.io?</h2>
    <p> &emsp; Essay.io was made as a tool to use to store all of your essays in one place. This solves an issue of having to remember where 
    an essay has been saved which saves you time that could have been used in productive ways.
    </p>

    <h2 class="mt-5">Who created Essays.io?</h2>
    <p> 
        &emsp;My name is Zaid Karaymeh. I am a student living in Bahrain. I am currently a sophomore majoring in Computer Science. My goal
        is to become a fully capable fullstack engineer.
    </p>

<div>

    

{%endblock content %}